<div class="filmInfo" >

  <div class="main">
    <img [src]="imageShow" />

    <div class="main2">
      <ng-container *ngIf="this.type === 1">
        <div class="main3" >
          <p class="titre">{{ dataToShow.title }}</p>

          <div class="ligne">
            <p class="soustitre">Released&nbsp;:</p>
            <p class="texte">&nbsp;{{dataToShow.release_date}}</p>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="this.type === 2">
        <div class="main3" >
          <p class="titre">{{ dataToShow.name }}</p>

          <div class="ligne">
            <p class="soustitre">Released&nbsp;:</p>
            <p class="texte">&nbsp;{{ dataToShow.first_air_date}}</p>
          </div>
        </div>
      </ng-container>

      <div class="ligne">
        <p class="soustitre">Popularity&nbsp;:</p>
        <p class="texte">&nbsp;{{ dataToShow.popularity }}</p>
      </div>

      <div class="ligne">
        <p class="soustitre">Type&nbsp;:</p>
        <p class="texte" *ngFor="let genre of dataToShow.genres">&nbsp;{{genre.name}},&nbsp;</p>
      </div>
    </div>
  </div>

  <br/>
  <p class="soustitre">Overview</p>
  <p class="resume">{{ dataToShow.overview }}</p>

  <br/>
  <div *ngIf="reviewToShow.total_results !== 0">
    <p class="soustitre">user opinions</p>
    <p class="texte" *ngFor="let review of reviewToShow.results">
      <strong>{{review.author}}</strong> ({{review.created_at.substring(0,10)}}) : <br/>
      {{review.content.substring(0,150)}}... <br/>
      <u>{{review.url}}</u><br/><br/>
    </p>
  </div>

  <br/><br/><button mat-raised-button color="basic" [routerLink]="['']">Back</button>
</div>
