<div class='component'>
  <div class='triFilm'>
    <div id='triName'>
      <p>Sort by :</p>
    </div>
    <ul class="triButton">
      <li class='pClick' (click)='changeOrderAscTitle()'>Ascending title</li>&nbsp;&nbsp;&nbsp;&nbsp;
      <li class='pClick' (click)='changeOrderDescTitle()'>Descending title</li>&nbsp;&nbsp;&nbsp;&nbsp;
      <li class='pClick' (click)='changeOrderAscDate()'>Increasing release date</li>&nbsp;&nbsp;&nbsp;&nbsp;
      <li class='pClick' (click)='changeOrderDescDate()'>Decreasing release date</li>
    </ul>
  </div>

  <ul>
      <ng-container *ngIf='films'>
        <div class='separate' *ngFor='let film of films'>
            <app-film-template [film]='film'></app-film-template>
        </div>
      </ng-container>

      <ng-container *ngIf='tvShows '>
        <div class='separate' *ngFor='let tvShow of tvShows'>
            <app-tv-show-template [tvShow]='tvShow'></app-tv-show-template>
        </div>
      </ng-container>
  </ul>
</div>
